{% load static %}
<!-- Call to Action -->
    <section id="info" class="content-section text-white">
      <div class="container text-center">
        <h2 class="mb-4 t_rool">Conoce la tecnologia detras de nuestras aulas</h2>
        <a href="https://moodle.org/?lang=es" class="magic_6 btn btn-xl btn-light mr-4">
          <img src="{% static 'icon/png/moodle-min.png' %}" alt="moodle">
          Moodle
        </a>
        <a id="bootstrap-boton" href="https://getbootstrap.com/" class=" magic_6 btn btn-xl btn-dark mr-4">
          <img src="{% static 'icon/png/bootstrap-min.png' %}" alt="bootstrap">
          Bootstrap
        </a>
        <a id="django-boton" href="https://www.djangoproject.com/start/overview/" class="magic_6 btn btn-xl btn-dark mr-4">
          <img src="{% static 'icon/png/django-min.png' %}" alt="django">
          Django
        </a>
      </div>
    </section>
