{% load static %}
<!-- Header -->
<div class="bg-principal">
<header class="masthead d-flex">

  <div class="container text-center my-auto text-white">
      <h1 class="t_fade mb-1">UNEFA VIRTUAL</h1>
      <h3 class="mb-5">
        <em class="t_rool">"En el aprendizaje online lo que cuenta es la forma de motivar y no la cantidad de motivación" - Matthew Guyan</em>
      </h3>
      <a class="magic_1 btn btn-dark btn-xl js-scroll-trigger" href="#about">Mas informacion</a>
  </div>
  <div class="overlay"></div>

</header>
</div>

