{% load static %}
<!-- normativa -->
    <section id="contact" class="map">
      <br>
      <br>
      <div class="container">
      <div class="jumbotron">
        <h1 class="display-4 t_rool">Marco Normativo</h1>

        <br>

      

      <div class="row">
        
        <div class="col-sm">
        <div class="magic_1 card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Nombre</div>
            <div class="card-body">
              <h5 class="card-title">Sub titulo</h5>
                <p class="card-text">Breve descripcion</p>
            </div>
            <div class="card-footer bg-transparent border-info">
              <a class="text-white" href="{% static 'documento/pdf.pdf' %}"><i class="fa fa-book"></i>&nbsp; Descargar</a>
            </div>
        </div>
        </div>
        
        <div class="col-sm">
        <div class="magic_1 card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Nombre</div>
            <div class="card-body">
              <h5 class="card-title">Sub titulo</h5>
                <p class="card-text">Breve descripcion</p>
            </div>
            <div class="card-footer bg-transparent border-info">
              <a class="text-white" href="{% static 'documento/pdf.pdf' %}"><i class="fa fa-book"></i>&nbsp; Descargar</a>
            </div>
        </div>
        </div>
        

        <div class="col-sm">
        <div class="magic_1 card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Nombre</div>
            <div class="card-body">
              <h5 class="card-title">Sub titulo</h5>
                <p class="card-text">Breve descripcion</p>
            </div>
            <div class="card-footer bg-transparent border-info">
              <a class="text-white" href="{% static 'documento/pdf.pdf' %}"><i class="fa fa-book"></i>&nbsp; Descargar</a>
            </div>
        </div>
        </div>

      </div>
       
    <br>
          
       

      </div>
      </div>
    </section>