{% load static %}
<!-- servicios -->
    <section class="content-section" id="portfolio">

      <div class="container">

        <div class="content-section-heading text-center">
          <h3 class="t_fade text-white mb-0">servicios</h3>
          <h2 class="t_fade text-white mb-5">UNEFA VIRTUAL</h2>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-6">
            <a class="portfolio-item" href="http://seadu.unefa.edu.ve/">
              <span class="caption">
                <span class="caption-content">
                  <h2>AULA VIRTUAL Seadu 2</h2>
                  <p class="mb-0">Ingresar al aula virtual</p>
                </span>
              </span>
              <img class="img-fluid" src="{% static 'images/jpg/cuadro-1-min.jpg' %}" alt="aula virtual moodle v2">
            </a>
          </div>

          <div class="col-lg-6">
            <a class="portfolio-item" href="http://unefavirtual.unefa.edu.ve">
              <span class="caption">
                <span class="caption-content">
                  <h2>AULA VIRTUAL Seadu 1</h2>
                  <p class="mb-0">Actualmente nos encontramos migrando a la nueva plataforma</p>
                </span>
              </span>
              <img class="img-fluid" src="{% static 'images/jpg/cuadro-2-min.jpg' %}" alt="aula virtual moodle v1">
            </a>
          </div>

          <div class="col-lg-6">
            <a class="portfolio-item" href="http://seadu.unefa.edu.ve/biblioteca/">
              <span class="caption">
                <span class="caption-content">
                  <h2>BIBLIOTECA VIRTUAL</h2>
                  <p class="mb-0">Una idea original. Eso no es complicado. La biblioteca debe estar llena de ellas (Stephen Fry)</p>
                </span>
              </span>
              <img class="img-fluid" src="{% static 'images/jpg/cuadro-3-min.jpg' %}" alt="Biblioteca UNEFA-VIRTUAL">
            </a>
          </div>

          <div class="col-lg-6">
            <a class="portfolio-item" href="http://magocod.pythonanywhere.com/">
              <span class="caption">
                <span class="caption-content">
                  <h2>Repositorio Virtual</h2>
                  <p class="mb-0">Fase beta</p>
                </span>
              </span>
              <img class="img-fluid" src="{% static 'images/jpg/cuadro-4-min.jpg' %}" alt="Repositorio UNEFA-VIRTUAL">
            </a>
          </div>
          
        </div>
      </div>
    </section>