<!-- Navigation -->
<a class="menu-toggle bg-light rounded text-dark">
  <i class="fa fa-bars"></i>
</a>

<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a class="js-scroll-trigger" href="#page-top">UNEFA VIRTUAL</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#page-top">Inicio</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#about">Acerca de</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#services">Micros informativos</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#portfolio">Servicios</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#info">Plataforma</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#contact">Contactenos</a>
    </li>
  </ul>
</nav>