.bg-principal {
  background-image: url("http://wallpaper-gallery.net/images/ubuntu-wallpapers/ubuntu-wallpapers-25.jpg"); 
  background-size: cover;);
 }

.bg-secundario {
  background-image: url("http://wallpaper-gallery.net/images/ubuntu-wallpapers/ubuntu-wallpapers-27.jpg"); 
  background-size: cover;);
 }
